addict==2.4.0
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker==1.9.0
brotlicffi
cached-property
certifi
cffi
charset-normalizer
click==8.4.1
comm
ConfigArgParse==1.7.5
contourpy==1.3.2
cycler==0.12.1
dash==4.1.0
dataclasses
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
filelock==3.29.0
Flask==3.1.3
fonttools==4.63.0
fqdn
fsspec==2026.4.0
future
fvcore
h11
h2
hpack
httpcore
httpx
hyperframe
idna
importlib_metadata
iopath
ipykernel
ipython
ipywidgets
isoduration
itsdangerous==2.2.0
jedi
Jinja2
joblib==1.5.3
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver==1.5.0
lark
markdown-it-py
MarkupSafe
matplotlib==3.10.9
matplotlib-inline
mdurl
mistune
mpmath==1.3.0
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx==3.4.2
ninja==1.13.0
notebook_shim
numpy==1.26.4
open3d==0.19.0
overrides
packaging==26.0
pandas==2.3.3
pandocfilters
parso
pexpect
pickleshare
pillow
platformdirs
plotly==6.0.0
plyfile
portalocker
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
Pygments
PyMCubes==0.1.6
pyparsing==3.3.2
pyquaternion==0.9.9
PySocks
python-dateutil
python-json-logger
# pytorch3d must be installed from source (CUDA build required)
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@c307c64c7000cd370ff379be421bd92f6dec577b
pytz==2026.2
PyYAML
pyzmq
referencing
requests
retrying==1.4.2
rfc3339_validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
scikit-learn==1.7.2
scipy==1.15.3
Send2Trash
six
sniffio
soupsieve
stack_data
sympy==1.13.1
tabulate
termcolor
terminado
threadpoolctl==3.6.0
tinycss2
tomli
# PyTorch with CUDA 12.1 support
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado
tqdm
traitlets
triton==3.1.0
typing_extensions
typing_utils
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug==3.1.8
widgetsnbextension
yacs
zipp
